/* Variables */
:root {
    --main-bg-color: #f7f7f7;
    --primary-color: #064fc4;
    --secondary-color: #FFD700;
    --white-color: #fff;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --transition-speed: 0.3s;
}

/* Global Styles */
body, html {
    height: 100%;
    background-color: var(--main-bg-color);
}

main {
    min-height: 100vh;
}

h1 {
  text-align: center;
}

/* Navbar Styles */
.navbar, footer {
    background-color: var(--primary-color);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px var(--box-shadow-color);
}

.navbar .navbar-brand img {
    margin-left: 15px; 
}

.navbar .navbar-nav .nav-link {
    color: var(--white-color);
    transition: color var(--transition-speed) ease;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.container {
    padding-top: 80px; 
}

/* Card Styles */
.card {
    background-color: var(--white-color);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform var(--transition-speed);
}

.card:hover {
    transform: scale(1.05);
}

.card h5 {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 15px;
    margin: 0;
    text-align: center;
}

.card ul {
    list-style-type: none;
    padding-left: 20px;
}

.card li {
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
}

.card li:last-child {
    border-bottom: none;
}

/* Button Styles */
.btn-primary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-primary:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Footer Styles */
.footer-link {
    color: var(--white-color);
    transition: color var(--transition-speed) ease;
}

.footer-link:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar {
        padding: 0 15px;
    }
    .btn-primary {
        margin-bottom: 30px;
    }
}
